name: Simple app deployment
on: 
    push: 
        branches: 
        - master

jobs: 
    deploymentjob: 
        runs-on: ubuntu-latest
        steps: 
        - name: 'Checkout from rep'
          uses: actions/checkout@v4
        
        - name: "Build the docker image"
          run: | 
            docker build -t theoafactor/k8sapp .

        - name: "Login to docker"
          run: | 
            docker login -u theoafactor -p ${{ secrets.DOCKER_PASSWORD }}

        - name: "Push to Docker Hub"
          run: | 
            docker push theoafactor/k8sapp

        - name: "Login to agent machine"
          run: |
            touch sshkeyfile 
            echo "${{ secrets.SSH_KEY }}" >> sshkeyfile
            chmod 400 sshkeyfile
            ssh -i sshkeyfile ec2-user@3.215.190.25 
        
            

        